#screenshots{
    height: 1600px;
}
#screenshots #container{
    height: 10%;   
}
#containerItemsScreenshots{
    height: 90%;
}
#screenshots #containerItemsScreenshots .itemScreenshots{
    float: left;
    
    width: 30%;
    height: 12%;
    margin: 1%;
}
@media (max-width:350px){
    #screenshots{
        height: 2500px;
    }
    #screenshots #containerItemsScreenshots .itemScreenshots{
        float: left;
    
        width: 90%;
        height: 4.8%;
        margin: 1%;
        margin-left: 5%;    
    }
    #screenshots #container{
        height: 2%;   
    }    
    #containerItemsScreenshots{
        height: 98%;
    }
}