@import url('https://fonts.googleapis.com/css?family=Acme');
@import url(header.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    outline: none;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #fafafa;
    font-family: Trebuchet MS, Helvetica;
}

h1, h2, h3, h4, h5, span{
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
}



/* Top */
#top{
    width: 100%;
    background-image: url(https://images2.alphacoders.com/559/559116.png);
    background-blend-mode: multiply;
    background-color: #cc0066;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 3em;
}
#top h3{
    color: #ccc;
    padding-top: 20%;
    font-size: 1.1em;
}
@media (min-width: 1001px){
    #top{
        font-size: 3em;
        height: 700px;
    }
}
@media (max-width: 1000px) and (min-width: 651px){
    #top{
        font-size: 1.8em;
        height: 600px;
    }
}
@media (max-width: 650px){
    #top{
        font-size: 1.8em;
        padding-top: 20%;
        height: 500px;
    }
}
@media (max-width: 380px){
    #top{
        padding-top: 50%;
    }
}
/* Top */

/* AboutMe */
#AboutMe{
    height: 500px;
    width: 100%;
    float: left;
    background-color: #f6f6f6;
}
#AboutMe #intro, #AboutMe #text{
    width: 50%;
    height: 100%;
    
    position: relative;
}
#AboutMe #intro{
    float: left;
}
#AboutMe #text{
    float: right;
}
#AboutMe #intro img, #AboutMe #text span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#AboutMe #intro img{
    width: 80%;
    height: 80%;
    
    padding: 1%;
    background-color: #fafafa;
    border: 2px solid silver;
}
#AboutMe #text span{
    font-size: 3em;
    text-align: center;
    width: 100%;
}

@media (max-width: 350px){
    #AboutMe #intro img, #AboutMe #text span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
    #AboutMe #intro img{
        width: 80%;
        height: 40%;

        padding: 1%;
        background-color: #fafafa;
        border: 2px solid silver;
    }
    #AboutMe #text span{
    font-size: 1.3em;
    text-align: center;
    width: 100%;
}
}


/* AboutMe */

/* Projects */
#projects{
    float: left;
    background-image: url(https://images6.alphacoders.com/774/774373.jpg);
    background-blend-mode: multiply;
    background-color: #4f1c65;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 500px;
}
#projects h2{
    font-size: 4em;
}
#projects h4{
    color: #ccc;
    font-size: 1.5em;
}
#projects .img{
    float: left;
    width: 20%;
    margin: 50px 20px 0px 20px;
}
#projects img:hover{
    border: 2px solid darkred;
}
/*#projects .img:nth-child(odd){
    margin-left: 18%;
}*/
#projects img{
    background: transparent;
    background-blend-mode: multiply;
    background: black;
    /*padding: 5px;*/
    border: 2px solid silver;
/*    float: left;*/
    width: 100%;
    height: 200px;
    max-width: 300px;
    color: #ccc;
    
}
#projects span{
    float: left;
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
    color: #fff;
}
@media (max-width: 700px){
    #projects .img{
        width: 80%!important;
        margin-right: 0!important;
        margin-left: 10%!important;
    }
    #projects{
        height: 1200px;
    }
}
/* Projects */
/* Contacts */
#contacts{
    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid #ccc;
    background-color: #f4f4f4;
}
#contacts h5{
    font-size: 3em;
    color: #4f4f4f;
}
/* Form for input */
#form_input{
    margin-top: 15px;
    width: 35%;
    margin-left: 38%;
    font-size: 1.1em;
}
@media (max-width: 700px){
    #form_input{
        width: 90%;
        margin-left: 10%;
    }
}
#form_input label{
    color: #505050;
    cursor: pointer;
    font-size: 1.4em;
    font-family: 'Acme', sans-serif;
    
}
#form_input label > span{
    color: #e87e7e;
}
#form_input input, #form_input textarea{
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 0.9em;
    color: #4a4a4a;
}
#form_input textarea{
    height: 100px;
}
#form_input input:focus, #form_input textarea:focus{
    border-color: #333;
}
#submit{
    float: left;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #ec6550;
    text-shadow: #454545 0 0 2px;
    cursor: pointer;
    color: white;
    font-family: 'Acme', sans-serif;
}
#submit:hover{
    background-color: #c15443;
}
/* Contacts */